[package]
name = 'xy'
version = '0.0.0'
authors = ['Matthias Fauconneau <matthias.fauconneau@gmail.com>']
edition = '2018'

[features]
iter = ['core/array']
default = ['iter']

[dependencies]
core = { version = '', path = '../core', features = ['vector'] }
